.gridContainer {
  margin: 100px;
  padding: 20px;
  display: flex;

  .mainInfo {
    .startBtn {
      margin-left: 5px;
    }

    .cellsContainer {
      margin-top: 50px;
    }

    .row {
      display: flex;
    }

    .square {
      height: 40px;
      width: 40px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
  }
}
